<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="./dist/main.js" verb="*" modules="iisnode" />
        </handlers>

    <iisnode devErrorsEnabled="true" loggingEnabled="true" />

        <rewrite>
            <rules>
                <rule name="nodejs">
                    <action type="Rewrite" url="./dist/main.js" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
